@font-face {
  font-family: "grec";
  src: url("../Fonts/Optio_0.ttf");
}

@font-face {
  font-family: "CaviarDreams";
  src: url("../Fonts/caviar_dreams/CaviarDreams.ttf");
}
body {
background-color: #9c96a1;
background-image: url("https://www.transparenttextures.com/patterns/tileable-wood.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.navBar nav{
  font-family: "grec";

  background-color: #b5b4c2;
  background-image: url("https://www.transparenttextures.com/patterns/dimension.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  padding: 2%;
  position: fixed;
  overflow: hidden;
  top: 0;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 15%;
}

.navBar nav ul {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  list-style: none;
  vertical-align: center;
}
nav a {
  vertical-align: center;
  text-decoration: none;
}
.navBar img {
    width: 30vw;
}
