@font-face {
  font-family: "grec";
  src: url("../Fonts/Optio_0.ttf");
}

/************  Landscape Mobile  **************/
@media only screen
  and (min-device-width: 350px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    header .toggle {
      height: 39vh;
    }

    header .toggle__menu {
      padding-bottom: 20px;
    }

    .social li a{
      font-size: 1em;
    }
}

/*************  Mobile  *************/
@media screen and (max-device-width: 480px) {

  .logo #logo {
    width: 36vw;
  }
  .favicons {
    padding-left: 19%;
  }
  .favicons a {
    margin-left: 10%;
  }
  .favicons i{
    font-size: 1.3em;
    padding: 10px;
  }

  .toggle__menu {
    font-size: .8em;
    margin-left: -10%;
  }

  body {
    margin: 0;
    padding: 0;
  }
}

/************ Tablet Styling ***************/
@media screen and (min-device-width:768px) {
  .logo #logo {
    width: 35vw;
    padding: 10px;
  }
  .favicons {
    font-size: 2em;
    padding-left: 20vw;
    padding-top: 20px;
  }
  .toggle__menu {
    padding-top: 25px;
    font-size: 1.2em;
  }
}

/*********** Tablet Landscape ************/
@media screen and (min-device-width:768px)
and (max-device-width: 1200px)
and (orientation: landscape) {
  .logo #logo {
    width: 20vw;
    padding: 10px;
  }
  .favicons {
    font-size: 2em;
    padding-left: 20vw;
    padding-top: 20px;
  }
  .toggle__menu {
    padding-top: 25px;
    font-size: 1.2em;
  }
}

/******** Large Tablet Portrait *********/
@media screen and (min-device-width:1008px)
and (max-device-width: 1200px)
and (orientation: portrait) {
  .favicons a{
    font-size: 2em;
    padding: 10px;
  }
  .toggle__menu {
    font-size: 1.6em;
  }
}

/******** Large Tablet Landscape *********/
@media screen and (min-device-width:1300px)
/*and (max-device-width: 1200px)*/
and (orientation: landscape) {
  .logo #logo {
    width: 23vw;
  }
  .favicons a{
    font-size: 1.2em;
    padding: 10px;
  }
  .toggle__menu {
    font-size: 1.2em;
  }
}


  #logo {
   width: 20vw;
   position: fixed;
   position: absolute;
   margin-right: 80vw;
  }

  .navBar {
   width: 100vw;
   height: 25vh;
   margin-top: -1%;
  }

  .navBar nav{
   font-family: "grec";
   background-color: #Dbd6d6;
   display: flex;
   flex-direction: column;
   padding-top: 2%;
   height: 19vh;
  }

  .navBar nav ul {
   display: flex;
   padding-left: 20vw;
   justify-content: space-around;
   list-style: none;
  }


  .favicons{
   display: flex;
   text-decoration: none;
   flex-direction: row;
   width: 35vw;
   margin-left: 30vw;
   justify-content: space-around;
  }

  nav a {
   text-decoration: none;
   font-size: 1.4em;
  }

  iframe{
   z-index: 1000;
   height: 70vh;
   width: 70vw;
   margin-left: 13vw;
   margin-top: 3vh;
  }

  #map{
   position: relative;
   top: 0;
   z-index: 1;
  }

  body{
  padding: 0;
  margin: 0%;
  width: 100vw;
  height: 100vh;
  background-image: url("../Images/CharlestonMap2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  }
