
@font-face {
 font-family: "grec";
 src: url("../Fonts/Optio_0.ttf");
}

nav{
  z-index: 1000;
  font-family: "grec";
  background-color: #dbd6d6;
  padding: 2%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  width: 110vw;
  height: 7vh;
}

nav ul {
  display: flex;
  justify-content:space-around;
  width: 80vw;
  list-style: none;
  vertical-align: center;
}

nav ul li a {
  vertical-align: center;
  text-decoration: none;
  font-size: 1.4em;
}

#logo {
  width: 17vw;
  /*z-index: 1;*/
}
body{
 height: 100vh;
}

#Donkey{
 z-index: -1;
 height: 100vh;
 width: 110vw;
 position: absolute;
}

form {
 padding-top: 2vh;
 float: right;

}

input{
 z-index: 3;
 background-color: #dbd6d6;
 color: black;
 font-weight: bold;
 font-size: 1em;
 padding: 10px;
 text-indent: 20px;
 margin: 15px;

}

#commentbox {
 width: 30vw;
 height: 17vh;
 background-color: #dbd6d6;
 color: black;
 font-size: 1em;
 /*margin-left: 5vw;*/
}

select {
 width: 13vw;
 height: 5vh;
 background-color: #dbd6d6;
 color: black;
 font-size: 1em;
 margin-left: 10vw;
}
#sub{
 border-width: thick;
 border-color: #dbd6d6;
 height: 16vh;
 width: 16vw;
 background-color: red;
 color: white;
 font-size: 2.5em;
 border-radius: 50%;
 margin-left: 18vw;
 margin-top: 30vh;

}
