@font-face {
  font-family: "grec";
  src: url("../Fonts/Optio_0.ttf");
}

@font-face {
  font-family: "CaviarDreams";
  src: url("../Fonts/caviar_dreams/CaviarDreams_Bold.ttf");
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("../Images/santorini.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

img {
 margin-left: 20vw;
 margin-top: 12vh;
  padding: 5%;
  width: 50vw;
  background-color:rgba(219, 214, 214, 0.8);
  border-radius: 10%;
}
.navBar {
    width: 100vw;
    height: 25vh;
    margin-top: -1%;
}

.navBar nav{
  font-family: "grec";
  background-color: #Dbd6d6;
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  height: 19vh;
}

.navBar nav ul {
  display: flex;
  /*justify-content: space-between;*/
  justify-content: space-around;
  /*width: 80vw;*/
  /*padding-top: 3vh;*/
  list-style: none;
  /*vertical-align: center;*/
}

button {
  background-color: #Dbd6d6;
  font-family: "grec";
  width: 13vw;
  font-size: 1em;
  padding-left: 5%;
  padding-right: 5%;
  background: transparent;
  border-color: #dbd6d6;
}

.favicons{
  text-decoration: none;
  flex-direction: row;
  display: flex;
  width: 35vw;
  margin-left: 30vw;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  font-size: 1.4em;

}
.Charleston p {
  color: #333334;
  position: relative;
  margin-top: -8vh;
  font-family: "grec";
  word-spacing: .2em;
  line-height: 1.2em;
  font-size: 4em;
  /*margin-left: 10vw;*/
  text-align: center;
  text-shadow: 1px 1px 1px black
}
