@font-face {
  font-family: "grec";
  src: url("../Fonts/Optio_0.ttf");
}

@font-face {
  font-family: "CaviarDreams";
  src: url("../Fonts/caviar_dreams/CaviarDreams_Bold.ttf");
}

body {
background-color: #2763b5;
background-image: url("https://www.transparenttextures.com/patterns/tileable-wood.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
width: 100vw;
height: 100vh;
}

.navBar nav{
  z-index: 1000;
  font-family: "grec";

  background-color: #efd4a7;
  /*background-color: #8d9fbc;*/
  background-image: url("https://www.transparenttextures.com/patterns/dimension.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  padding: 2%;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  width: 110vw;
  height: 15%;
}

.navBar nav ul {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  list-style: none;
  vertical-align: center;
}

nav a {
  vertical-align: center;
  text-decoration: none;
}

.navBar img {
    width: 30vw;
}

h1 {
  color: red;
  margin-top: 25%;
}

.Charleston_filler {
  padding-top: 5%;
  font-family: 'grec';
  /*padding: 6%;*/
  width: 101vw;
  margin-left: -1%;
  background-image: url("../Images/charleston.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  /*text-align: center;*/
  height: 100vh;
  background-attachment: fixed;
}

.Charleston_filler p {
  word-spacing: .2em;
  font-size: 4em;
  padding-top: 7%;
  padding-left: 3%;
}

.carousel {
   /*height: 50vh;*/
   width: 80vw;
   margin-left: 10vw;
   z-index: 1;
   margin-bottom: 5%;
}

.photo_1 h1 {
  height: 60vh;
  /*width: 90vw;*/
  background-image: url("../Images/charleston.jpg");
  margin-top: 10vw;
  margin-bottom: 5vh;
  display: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'grec';
  color: white;
  font-size: 3em;
  text-shadow: black 2px 2px 2px;
  padding: 5%;
  word-spacing: 15px;
}

.photo_2 h1 {
  height: 70vh;
  /*width: 90vw;*/
  background-image: url("../Images/truck.JPG");
  margin-top: 10vw;
  display: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'grec';
  color: white;
  font-size: 3em;
  text-shadow: black 5px 5px 5px;
  padding: 5%;
  word-spacing: 15px;
  text-overflow: clip;
}

.photo_3 h1 {
  height: 70vh;
  /*width: 90vw;*/
  background-image: url("../Images/salad.jpg");
  margin-top: 10vw;
  display: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'grec';
  color: white;
  font-size: 3em;
  text-shadow: black 5px 5px 5px;
  padding: 5%;
  word-spacing: 15px;
  text-overflow: clip;
}

.photo_4 h1 {
  height: 70vh;
  /*width: 90vw;*/
  background-image: url("../Images/greek_pita.jpg");
  margin-top: 10vw;
  display: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'grec';
  color: white;
  font-size: 3em;
  text-shadow: black 5px 5px 5px;
  padding: 5%;
  word-spacing: 15px;
  text-overflow: clip;
}

.bar_1 {
  margin-top: 5%;
  width: 80vw;
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 3%
  padding-right: 2%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 2px 2px 2px;
  font-weight: bold;
  font-size: 1.3em;
  /*line-height: 1.8em;*/
  margin-left: 10vw;
  font-family: "CaviarDreams";
  background-image: url(../Images/hummus.jpg);
  background-attachment: fixed;
  /*background-color: #2763b5;
  background-image: url("https://www.transparenttextures.com/patterns/diagonal-striped-brick.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */*/
}

.bar_2 {
  margin-top: 5%;
  margin-left: 10vw;
  width: 80vw;
  padding-top: 8%;
  padding-bottom: 8%;
  padding-left: 2%
  padding-right: 2%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
    text-shadow: black 2px 2px 2px;
  font-weight: bold;
  font-size: 2em;
  /*line-height: 1.8em;*/
  margin-left: 10vw;
  font-family: "CaviarDreams";
  background-image: url(../Images/gyro_bar_2.jpg);
  background-attachment: fixed;
  /*background-color: #2763b5;
  background-image: url("https://www.transparenttextures.com/patterns/diagonal-striped-brick.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */*/
}
