
@font-face {
 font-family: "grec";
 src: url("../Fonts/Optio_0.ttf");
}

@font-face {
 font-family: "CaviarDreams";
 src: url("../Fonts/caviar_dreams/CaviarDreams_Bold.ttf");
}

/********** Nav Bar Styling *************/

#logo {
 width: 20vw;
 position: fixed;
 position: absolute;
 margin-right: 80vw;
}

.navBar {
 width: 100vw;
 height: 25vh;
 margin-top: -1%;
}

.navBar nav{
 font-family: "grec";
 background-color: #Dbd6d6;
 display: flex;
 flex-direction: column;
 padding-top: 2%;
 height: 19vh;
}

.navBar nav ul {
 display: flex;
 padding-left: 20vw;
 justify-content: space-around;
 list-style: none;
}


.favicons{
 display: flex;
 text-decoration: none;
 flex-direction: row;
 width: 35vw;
 margin-left: 30vw;
 justify-content: space-around;
}

nav a {
 text-decoration: none;
 font-size: 1.4em;
}

body{
  background-color: #1557b2;
  padding: 0;
  margin: 0%;
  width: 100vw;
  height: 100vh;
}

.Menu {
  display: flex;
  justify-content: space-around;
  padding-left: 5vw;
  padding-right: 5vw;
}

/************  Portrait Mobile  **************/
@media screen
  and (min-device-width: 375px)
  and (max-device-width: 667px) {

    #logo {
      width: 35vw;
    }
    .navBar{
      width: 100vw;
    }
    .favicons {
      margin-left: 60vw;
    }
    .favicons i {
      font-size: 1em;
    }
    .Menu {
      display: flex;
      flex-direction: column;
      width: 90vw;
    }
    .toggle__menu li a {
      font-size: 1em;
    }
  }

  /************  Landscape Mobile  **************/
  @media screen
    and (min-device-width: 375px)
    and (max-device-width: 667px) and
    (orientation: landscape){
      #logo {
        width: 20vw;
      }
    }

/************** Desktop *****************/

.favicons {
  font-size: 1.2em;
  margin-left: 50vw;
}
